<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Create Specimen Label</h1>

    <form method="POST" action="/order">
        <label>Patient Name</label>
        <input type="text" name="patient_name" placeholder="LASTNAME, FIRSTNAME">

        <label>Test Type</label>
        <select name="test_type">
            <option value="CBC">CBC</option>
            <option value="CMP">CMP</option>
        </select>

        <button type="submit">Generate & Print Label</button>
    </form>

</body>

</html>