<!DOCTYPE html>
<html>

<head>
    <title>Hospital Integration Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Hospital Integration Simulator</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <p><strong>{{ category|capitalize }}:</strong> {{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section class="actions">
        <h2>Actions</h2>

        <form method="POST" action="{{ url_for('workflow') }}">
            <input type="text" name="specimen_id" placeholder="Specimen ID" value="{{  specimen_id or '' }}">
            <select name="test_type">
                <option value="CBC" {% if test_type=="CBC" %}selected{% endif %}>CBC</option>
                <option value="CMP" {% if test_type=="CMP" %}selected{% endif %}>CMP</option>
            </select>
            <button type="submit">Run Lab Workflow</button>
        </form>


    </section>

    <section class="setting-card-container">
        <div class="settings-card">
            <h3>Printer Settings</h3>

            <div class="settings-list">
                {% for key, value in printer_settings.items() %}
                <div class="setting-row">
                    <span class="setting-key">ID: {{ key.replace('_', ' ').title() }}</span>
                    <span class="setting-value">Name: {{ value.deviceName }}</span>
                    <span class="setting-value">Location: {{ value.location }}</span>
                    <span class="setting-value">Model: {{ value.model }}</span>
                    <span class="setting-value">Status: {{ value.status }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="settings-card">
            <h3>Scanner Settings</h3>

            <div class="settings-list">
                {% for key, value in scanner_settings.items() %}
                <div class="setting-row">
                    <span class="setting-key">ID: {{ key.replace('_', ' ').title() }}</span>
                    <span class="setting-value">Name: {{ value.deviceName }}</span>
                    <span class="setting-value">Location: {{ value.location }}</span>
                    <span class="setting-value">Model: {{ value.model }}</span>
                    <span class="setting-value">Status: {{ value.status }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="settings-card">
            <h3>Analyzer Settings</h3>

            <div class="settings-list">
                {% for key, value in analyzer_settings.items() %}
                <div class="setting-row">
                    <span class="setting-key">ID: {{ key.replace('_', ' ').title() }}</span>
                    <span class="setting-value">Name: {{ value.deviceName }}</span>
                    <span class="setting-value">Location: {{ value.location }}</span>
                    <span class="setting-value">Model: {{ value.model }}</span>
                    <span class="setting-value">Status: {{ value.status }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>